<main class="main">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand">Dashboard Manager</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [class.active]="isActive('/')">
          <a
            class="nav-link"
            [routerLink]="'/employees'"
            routerLinkActive="active"
            >Empleados</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="'/departments'"
            routerLinkActive="active"
            >Departamentos</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="'/salaries'"
            routerLinkActive="active"
            >Salarios</a
          >
        </li>
      </ul>
    </div>
  </nav>
</main>
<router-outlet />
